*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 1140px;
    margin: 0 auto;
}



.promo{
    height: 800px;
    background: url("../img/bg/main_bg.png") center center/cover no-repeat;
    padding: 39px 0 62px 0;

}

.logo .logo_img{
    display: block;
    margin: 0 auto;
}

.logo .logo_text{
    color: #FFF;
    font-size: 15px;
    font-family: Roboto;    
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase; 
    text-align: center;
    margin-top: 14px;
}

h1{
    margin-top: 53px;
}

.title{
   
    color: #F9BF3B;
    font-size: 41px;
    font-family: "Roboto - Black";
    font-style: normal;
    font-weight: 900;
    line-height: 41px;
    text-transform: uppercase; 
    text-align: center;
}

h2.title{
    margin-top: 30px;
}

.simple .title_big{
    margin-top: 13px;
    color: #FFF;
    font-size: 80px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase; 
}

.promo .promo_text{
    padding: 0 13px;
    margin-top: 23px;
    color: #FFF;
    font-size: 21px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    text-align: center; 
}

.promo .promo_text span{
    color: #F9BF3B;
    font-family: "Roboto - Bold";
    font-weight: 700;
}

.promo .promo_btn{
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);
    background: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);

    color: #FFF;
    font-size: 21px;
    font-family: Roboto Condensed;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase; 
    cursor: pointer;
    outline: none;
}

.more{
    margin-top: 73px;
}

.more .more_text{
    color: #FFF;
    font-size: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    text-transform: uppercase; 
    text-align: center;
}

.more .more_img{
     display: block;
     margin: 0 auto;
     margin-top: 13px;
}

.waiting{
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header{
    color: #252525;
    text-align: center;
    font-size: 30px;
    font-family: Roboto;
    font-weight: 400;
    text-transform: uppercase; 
}

.waiting .waiting_divider{
    width: 217px;
    height: 4px;
    background-color: #F9BF3B;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader{
    margin-top: 17px;
    color: #4A4A4A;
    text-align: center;
    font-size: 23px;
    font-family: Roboto;
    font-weight: 400;
}

.waiting .waiting_wrapper{
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.waiting .waiting_wrapper .waiting_item{
    width: 339px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img{
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr{
    color: #4A4A4A;
    font-size: 15px;
    font-family: Roboto;
    font-weight: 300;
    line-height: 21px; 
}


.optimiztion{
    min-height: 550px;
}